/*
.images
--> .image-container
-----> image / .image
-----> p (image description)
-----> .image-edit
--------> button (edit)
--------> button (pin)
*/

.images {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	align-content: flex-start;
	margin: 0 auto;
	width: 90%;
}

.image-container,
.image {
	border-radius: 10px;
	transition: 0.3s ease;
	opacity: 1;
}

.image-container {
	position: relative;
	background-color: #fff;
	margin: 10px;
	overflow: hidden;
	padding: 8px;
	width: 300px;
}

.image-edit {
	position: absolute;
	top: 5%;
	left: 5%;
	opacity: 0;
	transition: 0.5s ease;
	width: 90%; /* to position edit and pin buttons */
}

.image-container:hover {
	background-color: #f2f2f2;
}

.image-container:hover .image {
	opacity: 0.8;
}

.image-container:hover .image-edit {
	opacity: 1;
}

.image-container:hover .image-origin-link {
	opacity: 1;
}

.image-container:hover .image-origin-link:hover {
	color: #444;
	opacity: 0.8;
}

.image-description {
	font-size: 14px;
	overflow-wrap: break-word;
	padding: 0 5px;
}

.image-origin-link {
	color: #d3d3d3;
	opacity: 0;
}

/* .image-origin-link:hover {
	color: #444;
} */

.image-edit button {
	border: none;
	border-radius: 3px;
	cursor: pointer;
	font-size: 14px;
	padding: 8px 20px;
}

.edit-image-btn {
	float: left;
	background-color: #fff;
	color: #444;
}

.edit-image-btn:hover {
	background-color: #f2f2f2;
}

.pin-image-btn {
	float: right;
	background-color: #80cbc4;
	color: #fff;
}

.pin-image-btn:hover {
	background-color: #4f9a94;
}

@media screen and (max-width: 480px) {
	.images {
		flex-flow: column;
		align-items: center;
		justify-content: center;
		width: 100%;
	}
}
