.form-sides {
	display: flex;
}

.form-left,
.form-right {
	margin: 0 30px;
}

.form-section {
	margin: 20px 0;
}

.form-label {
	font-size: 14px;
	letter-spacing: 0.5px;
}

.form-field {
	border: 1px solid #d3d3d3;
	font-size: 16px;
	margin-top: 8px;
	padding: 7px 5px;
	width: 300px;
}

.form-field:focus {
	outline: none;
}

.form-btn {
	background-color: #4f9a94;
	border: none;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
	font-family: 'Amiko', sans-serif;
	font-size: 14px;
	letter-spacing: 0.8px;
	outline: none;
	padding: 8px 20px;
}

.form-btn:hover {
	opacity: 0.9;
}

.form-cancel-btn,
.form-delete-btn {
	background-color: #666;
	opacity: 0.5;
}

.form-cancel-btn:hover,
.form-delete-btn:hover {
	opacity: 0.7;
}

.edit-btns button {
	margin-right: 10px;
}

.image-edit-btns {
	text-align: center;
}

.form-image {
	width: 300px;
}

@media screen and (max-width: 700px) {
	.form-sides {
		flex-direction: column;
	}

	.form-left,
	.form-right {
		margin: 0;
	}
}
